<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="keywordMapper">
    <insert id="insertKeyword" parameterMap="egovframework.api.keyword.service.impl.KeywordDTO">
        INSERT INTO TB_KEYWORD
        (
            HAN_WORD,
            ENG_WORD,
            ENG_WORD,
            ENG_ABBR_WORD,
            DESCRIPTION,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES
        (
            #{hanWord},
            #{engWord},
            #{engWord},
            #{engAbbrWord},
            #{description},
            #{createdAt},
            #{updatedAt}
        )
    </insert>
</mapper>